* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    color:goldenrod;
}

.plan {
    background-color: #262626;
    border: 1px solid #e60000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    background-image: url(resource/L.gif);
    background-repeat: no-repeat;
background-position: 40%;
}

.plan:hover {
    transform: scale(1.05);
}

.plan img {
    width: auto;
    height: 100px; /* Adjust the height as needed */
    margin-right: 20px;
}

.plan-content {
    text-align: left;
    flex: 1;
}

.plan h2 {
    margin-bottom: 10px;
    color: #e60000;
}

.plan p {
    margin-bottom: 15px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e60000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b30000;
}

.custom-list {
    list-style-type: none; /* Remove default bullets */
    margin-left: 20px; /* Adjusts left margin of the list */
}

.custom-list li {
    margin-bottom: 10px; /* Space between list items */
    position: relative; /* Allows us to position the custom bullet */
    padding-left: 30px; /* Space for the custom bullet */
}

.custom-list li::before {
    content: '';
    background-image: url('Resource/greentick.png'); /* Path to your green tick image */
    background-size: cover;
    width: 20px; /* Size of the bullet */
    height: 20px; /* Size of the bullet */
    position: absolute;
    left: 0;
    top: 0;
}
